:root {
    color-scheme: light dark;
}

@media screen and (min-width: 666px) {
body {
    margin: 40px auto;
    max-width: 666px;
    line-height: 1.5;
    font-family: URW Bookman, Libre Baskerville, Libre Caslon Text, Garamond, Georgia, Times New Roman, Times, serif;
    font-size: 18px;
    padding: 0 40px
    }
}

@media screen and (max-width: 666px) {
body {
    margin: 40px auto;
    max-width: 666px;
    line-height: 1.5;
    font-family: URW Bookman, Libre Baskerville, Libre Caslon Text, Garamond, Georgia, Times New Roman, Times, serif;
    font-size: 14px;
    padding: 0 40px
    }
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

h1,
h2,
h3 {
    line-height: 1.2
}

.separator-top {
    border-top: 1px solid;
    }

.separator-bottom {
    border-top: 2px solid;
    }

.small-caps {
    font-variant-caps: all-small-caps;
}

.stanza {
    display: block;
}

.line {
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1em;
    display: block;
}

.indented-line {
    margin-left: 3em;
    text-indent: -1em;
    display: block;
}

.doubly-indented-line {
    margin-left: 5em;
    text-indent: -1em;
    display: block;
}

.poem-title {
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -1em;
    display: block;
    font-size:110%;
    font-weight: bold;
}

.and-knot-fool-stop {
    font-size: 200%;
    transform: scaleX(-1);
}

.centre {
    text-align: center;
  }

a {
    text-decoration: underline;
  }

.no-underline {
    text-decoration: none;
  }

.portrait {
    border-style: double;
    max-width: 100%;
}
