:root {
    color-scheme: light dark;
}

@media screen and (min-width: 666px) {
body {
    margin: 20px auto;
    max-width: 1600px;
    font-family: Garamond, Georgia, Times, serif;
    font-size: 19px;
    }
}

@media screen and (max-width: 666px) {
body {
    margin: 20px auto;
    max-width: 1200px;
    font-family: Garamond, Georgia, Times, serif;
    font-size: 14px;
    }    
}

h1,
h2,
h3 {
    line-height: 1.2;
}

.separator-top {
    border-top: 1px solid;
    }

.separator-bottom {
    border-top: 2px solid;
    }

.small-caps {
    font-variant-caps: all-small-caps;
}

.and-knot-fool-stop {
    font-size: 200%;
    transform: scaleX(-1);
}

.picture {
    border-bottom: dotted;
    max-width: 100%;
}

.cover {
    max-width: 100%;
}

.centre {
    text-align: center;
}

.text {
    max-width: 70ch;
    margin:auto;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    line-height: 1.5;
    font-family: Garamond, Georgia, Times, serif;
}

.image {
    max-width:1200px;
    margin:auto;
    padding: 20px 40px 20px 40px;
}

figure {
    border-style: double;
    padding: 0px;
    margin: auto;
}

figcaption {
    font-style: italic;
    padding: 10px;
    text-align: left;
    font-family: Garamond, Georgia, Times, serif;
    font-size: 75%;
}

a {
    text-decoration: underline;
  }

.no-underline {
    text-decoration: none;
  }
